
body{
    background-image: url('../Images/sea.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;


}
.section-1,.section-2,.section-3{
    position: relative;
    display: flex;
    width: 80%;
    margin: auto;

}
.header{
    position: relative;
    display: flex;
    height: 400px;
    margin: auto;
    margin-top: 70px;

}


.main-img{
    position: relative;
    display: flex;
    margin: auto;
    border-top-left-radius:10em ;
    border-top-right-radius: 10em;
    width: 500px;
    height: 500px;
}
nav{
    position: relative;
    display:flex;
    margin-left: 37%;
    z-index: 4;
}
nav a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 25px;
    text-align: center;
    background-color: rgb(189, 185, 185);
    color:#464141;
    margin:0;
    font-family:sans-serif;
}
nav a:hover {
    background-color: #777777;
    color:#ffffff;
}

header{
    margin-top: 70px;
}

h1 {
    font-size:40px;
    font-family: Andalus;

}
h2 {font-size:36px;}
h3 {font-size:30px;}
h4 {font-size:24px;}
h5 {font-size:20px;}
h6 {font-size:18px;}

h2 {
    padding-bottom: 14px;
}



.main-image-skills{
    margin: auto;
    width: 100%;
    height: 350px;
    border-radius: 50%;
    border: ivory solid 4px;

}

.main-image-skills-div{
    margin: auto;
    width: 20%;

}
nav{
    position: relative;
    display:block;
    margin-left: 37%;
    z-index: 4;
}
nav a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 25px;
    text-align: center;
    background-color: rgb(189, 185, 185);
    color:#464141;
    margin:0;
    font-family:sans-serif;
}
nav a:hover {
    background-color: #777777;
    color:#ffffff;
}
#clock {
    display: flex;
    font-family: Andalus;
    color: #fb6d24;
    font-size: 56px;
    text-align: center;
    margin-left: 200px;
    float: right;

}


.section-1 ,.section-2 , .section-3 {
    margin: auto;
    display: block;
    width: 80%;
    height: 30em;
}

/*==========================================================================================================*/
.section-1{
    background-color: rgba(254, 212, 5, 0.6);
}

.left-top , .right-top{
    position: relative;
    display: inline;
    color: #ffffff;
    width: 50%;
    margin: 0.5em;
    font: 28px bold Andalus;


}
.left-top{
    float: left;
    width: 45%;
}
.right-top{
    float: right;
}
.university{
    width: 100%;
    height: 16em;
    border-radius: 1em;
    border: 3px;
    border-color: rgb(254, 212, 5);
}



/*==========================================================================================================*/
.section-2{
    background-color: rgba(172, 17, 17, 0.49);
    color: yellow;
    font: 28px bold Andalus;
    height: 20em;
}
.section-3{
    background-color: rgba(255, 222, 173, 0.7);
}




